In [ ]:
'''
Load meteorite_landing csv
update the year column to only contain the year
  - convert it to a numeric data type
  - create a new column indicaiting whether the meteorite was observed falling before 1970
set the index to the id column
extract all the rows in IDs between 10 036 and 10 040

bonus : There's a data entry error in the year column, Can you find it
'''

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Meteorite_Landings.csv')

df['year'] = pd.to_datetime(df['year'], errors='coerce').dt.year

df['fell_before_1970'] = (df['fall'] == 'Fell') & (df['year'] < 1970)

df = df.set_index('id')
df.index = pd.to_numeric(df.index, errors='coerce')
df = df.sort_index()

print("Rows with IDs between 10036 and 10040:")
display(df.loc[10036:10040])

print("Minimum year:", df['year'].min())
print("Maximum year:", df['year'].max())
print("\nSuspicious year entries:")
display(df.loc[(df['year'] < 1800) | (df['year'] > 2026), ['name', 'year']])

Rows with IDs between 10036 and 10040:

/tmp/ipython-input-2732244590.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['year'] = pd.to_datetime(df['year'], errors='coerce').dt.year

,name,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,fell_before_1970
id,,,,,,,,,,
10036,Enigma,Valid,H4,94.0,Found,1967.0,31.33333,-82.31667,"(31.33333, -82.31667)",False
10037,Enon,Valid,"Iron, ungrouped",763.0,Found,1883.0,39.86667,-83.95000,"(39.86667, -83.95)",False
10038,Enshi,Valid,H5,8000.0,Fell,1974.0,30.30000,109.50000,"(30.3, 109.5)",False
10039,Ensisheim,Valid,LL6,127000.0,Fell,NaN,47.86667,7.35000,"(47.86667, 7.35)",False

Minimum year: 1688.0
Maximum year: 2101.0

Suspicious year entries:

                        name    year
id
425          Aire-sur-la-Lys  1769.0
453                 Albareto  1766.0
4942                Barbotan  1790.0
4944       Barcelona (stone)  1704.0
5011             Benares (a)  1798.0
5015                 Bendegó  1784.0
5063          Bjelaja Zerkov  1796.0
5261       Cape of Good Hope  1793.0
5292       Castel Berardenga  1791.0
7775               Eichstädt  1785.0
11916              Hraschina  1751.0
12291                Kharkov  1787.0
12356            Krasnojarsk  1749.0
14695              Longchang  1781.0
14724                   Lucé  1768.0
14757               Luponnas  1753.0
15446           Mauerkirchen  1768.0
16851              Mulletiwu  1795.0
16970                Nicorps  1750.0
17994                    Ogi  1741.0
18062                 Owrucz  1775.0
18804             Pettiswood  1779.0
18849           Ploschkovitz  1723.0
18876               Portugal  1796.0
18884              Prambanan  1797.0
22396                Rasgrad  1740.0
22642                 Rodach  1775.0
23111                 Salles  1798.0
23187               Sasagase  1688.0
23457               Schellin  1715.0
23495                   Sena  1773.0
23586                  Siena  1794.0
23587          Sierra Blanca  1784.0
23615                Siratik  1716.0
23722              Steinbach  1724.0
23776                  Tabor  1753.0
24018                 Toluca  1776.0
24325           Wold Cottage  1795.0
30381       Zacatecas (1792)  1792.0
57150  Northwest Africa 7701  2101.0